@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'MangoDdobak-B';
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    margin: 0;
}
.car {
    position: fixed;
    top: 230px;
    z-index: -1;
}
.car_img {
    width: 70px;
}
.qa-container {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qa {
    flex-direction: row;
    transition: top 0.3s;
    position: relative;
    margin-top: 0px;
}
.q {
    margin-left: 50px;
}
.a{
    margin-right: 50px;
    display: none;
}
.chat {
    position: fixed;
    bottom: 50px;
    display: flex;
}
.chat_box {
    width: 500px;
    height: 55px;
    border-radius: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: 'MangoDdobak-B';
}
.finish {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 3px grey;
    transition-duration: 0.3s;
}
.finish_img {
    height: 35px;
}
.finish:active {
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: none;
}